<div class="container-fluid">
    <div class="row">
      <div class="div_10"></div>
  
      <div class="div_80">
        <div class="marge"></div>
  
        <div class="titre_page">{{title}}</div>

        <button type="button" (click)="createElection();" class="btn btn-info">Ajouter une election</button>
        <button type="button" (click)="manageAdmin();" class="btn btn-info">Gerer les administrateurs</button>
  
        <div *ngIf="elections.length == 0" class="alert alert-secondary text-center">
          Aucune élection n'est disponible.
        </div>

        <table id="election-list" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Candidats</th>
              <th scope="col">Nombre de votant</th>
              <th scope="col">Fermeture</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let election of elections;">
              <th>{{election.title}}</th>
              <td>{{election.title}}</td>
              <td>{{election.nbTotalVoters}}</td>
              <td>{{election.expiresAfter}}</td>
              <td>
                <button type="button" (click)="vote();" class="btn btn-secondary">Voter</button>
                <button type="button" (click)="seeResults();" class="btn btn-secondary">Resultats</button>
                <button type="button" (click)="closeElection();" class="btn btn-secondary">Fermer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="marge"></div>
      <div class="div_10"></div>
    </div>
  </div>


