.marge{
    height: 100px;
}

.item{
    width: 100%;
    background: white;
    color : black;
    margin-bottom: 30px;
    display: block;
    overflow: auto;
}



.item-panier{
    padding-top: 5px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.half-div{  
    padding: 20px; 
    width: 50%;
    float: left;
    display: block;
}

.third-div{
    padding: 20px; 
    width: 33%;
    float: left;
    display: block;
}

.full{
    width: 100%;
    float: left;
    padding: 20px;
}


.prix{
    color: #c8295a;
    font-size: 25px;
}

.prix-panier{
    padding-right: 10px;
}

.panier{
    border : 2px solid #8cfedc;
    width: 20%;
    display: block;
    overflow: auto;
    min-height: 600px;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    margin-top: 100px;
    padding: 20px; 
    margin-right : 20px;
}

.floatR{
    float: right;
}


.btn{
    background: rgb(0, 0, 0);
    /* color:#c8295a; */
    color: #383838;
    border: 1px solid black;
    margin-right:10px;
}

.btn:hover{
    background: #8cfedc;
    border : none;
    color : white;
}

.btn-delete{
    background: #383838;
    /* color:#c8295a; */
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.btn-delete:hover{
    background: #8cfedc;
    border : 1px solid white;
    color : white;
}

hr{
    background: white;
}

.div-button-panier{
    position:absolute;
    bottom:0;   
    right: 0;
    margin : 10px;

}

.button-panier{
    background: #c8295a;
    color: white;
    margin-top: 7px;
    text-decoration: none;
    border : none;
}


.btn:focus {
    cursor: pointer;
    outline: none;

}

.button-panier:hover{
    background: #A71F49;
}


.div_10{
    width: 10%;
    
}

.div_80{
    width: 80%;
    background-color: white;
    min-height: 800px;
}

.titre_page{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 50px;
}

#election-list{
    background-color: white;
}