<div class="container-fluid">
    <div class="row">
      <div class="div_10"></div>
  
      <div class="div_80">
        <div class="marge"></div>
  
        <div class="titre_page">{{title}}</div>

        <button *ngIf="userIsAdmin" type="button" (click)="createElection();" class="btn btn-info">Ajouter une election</button>
        <button *ngIf="userIsAdmin" type="button" (click)="manageAdmin();" class="btn btn-info">Gerer les administrateurs</button>
  
        <div *ngIf="elections.length == 0" class="alert alert-secondary text-center">
          Aucune élection n'est disponible.
        </div>

        <table *ngIf="elections.length != 0" id="election-list" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Nombre de candidats</th>
              <th scope="col">Nombre de votants</th>
              <th scope="col">Date de creation</th>
              <th  scope="col">Date de fermeture</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let election of elections; let i = index">
              <th>{{election.title}}</th>
              <td>{{election.candidatesCount}}</td>
              <td>{{election.nbTotalVoters}}</td>
              <td>{{election.creationDate | date}}</td>
              <td *ngIf="!election.isOpen">{{election.closingDate | date}}</td>
              <td *ngIf="election.isOpen"></td>
              <td>
                <button *ngIf="election.isOpen" type="button" (click)="vote(i+1);" class="btn btn-secondary">Voter</button>
                <button *ngIf="!election.isOpen" type="button" (click)="seeResults(i+1);" class="btn btn-secondary">Resultats</button>
                <div *ngIf="isLoading == i+1" class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <button *ngIf="election.isOpen && userIsAdmin && isLoading == -1" type="button" (click)="closeElection(i+1);" class="btn btn-secondary">Fermer</button>
              </td>
            </tr>
            <tr *ngIf="secondTourLoader">
              <th></th>
              <td></td>
              <td>
                <div class="spinner-border text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <p>Création du second tour en cours...</p>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="marge"></div>
      <div class="div_10"></div>
    </div>
  </div>


