<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oups</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Désolé, cette page n'existe pas!
                </div>
                <div class="error-actions">
                    <button type="button" (click)="home();" class="btn btn-primary">Page principale</button>
                </div>
            </div>
        </div>
    </div>
</div>